/* **************************************
 * reset.less
 *
 *****************************************
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*:focus, *:active {
    outline: none;
}

html, body, div, span, object, iframe,
p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    box-sizing: border-box;
}

a img, a svg {
    border: none;
}

body {
    line-height: 1;
}

input, select, button {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 600px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
}